/* src/components/CommentSection.css */

.comment-section {
    margin-top: 10px;
    padding-left: 15px;
    border-left: 2px solid #012641;
}

.comment-form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #012641;
}
.comment-form input[type="text"],
.comment-form textarea {
    background-color: #021a2d;
    color: white;
    border: transparent;
}

.comment-form input {
    flex: 1;
    padding: 5px;
    border: transparent;
    border-radius: 4px;
}

.comment-form button {
    padding: 5px 10px;
    background-color: #e36d32;
    color: #012641;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.comments-list {
    padding-left: 10px;
    margin-top: 5px;
}
