/* src/components/HomePage.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full page height */
    text-align: center;
    background-color: #021a2d; /* dark mode color (dark blue) */
}

.logo {
    max-width: 350px; /* Adjusted logo size */
    margin-bottom: 20px; /* Space between the logo and the text */
}

.home-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #e36d32; /* Orange to match logo */
    margin-bottom: 20px;
}

.home-description {
    font-size: 1.2rem;
    color: #ffffff;
    max-width: 600px;
    line-height: 1.6;
}

/* Slogan Styling */
.home-slogan {
    font-size: 1.1rem;
    font-style: italic; /* Italicize the slogan */
    color: #ffffff;
    margin-top: 20px; /* Add space above the slogan */
}
