/* src/components/Hotbar.css */

.hotbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* Prevent wrapping by default */
    padding: 10px;
    background-color: #0021A5; /* UF Blue */
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.nav-buttons {
    display: flex;
    gap: 1rem; /* Space between buttons */
    justify-content: space-between; /* Distribute buttons evenly */
    width: 100%; /* Ensure the container takes full width */
    
    padding-right: 40px; 
}

.hotbar button {
    background-color: #FA4616; /* UF Orange */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
    z-index: 2;
    transition: background-color 0.2s ease;
}

.hotbar button:hover {
    background-color: #cc3713;
}

.plus-button-container {
    position: relative;
    margin-left: auto; /* Push the plus button to the far right */
}

.hotbar .plus-button {
    background-color: white;
    color: #0021A5;
    font-size: 2rem;
    padding: 5px 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 100;
}

.dropdown button {
    background-color: #fff;
    color: #0021A5;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: #f1f1f1;
}

.theme-toggle {
    background-color: #FFFFFF;
    color: #0021A5; /* UF Blue */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-toggle:hover {
    background-color: #f1f1f1;
    color: #0021A5;
}

