/* src/components/PostPage.css */

.post-page {
    min-height: 100vh;
    background-color: #021a2d; /* dark blue bg */
}

.post-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.post-item {
    background-color: #012641;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #011627;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.post-item h4, .post-item p {
    color: #e36d32;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-item:hover {
    background-color: #0d3351;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.post-photo {
    margin-top: 10px;
}

.post-photo img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.toggle-comments {
    background: #e36d32;
    border: none;
    color: #012641; /* UF Blue */
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* src/components/PostPage.css */
.search-input {
    padding: 10px;
    margin: 20px 0;
    width: 100%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}
